<!DOCTYPE html>
<html>
  <head>
    {{block meta}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    {{end}}
    {{<< settings.get_var('WEIBO/META')}}
    <title>{{block title}}{{=settings.LAYOUT.PROJECT}}{{end}}</title>
    {{block css}}
        <link href="/static/site.css" rel="stylesheet" type="text/css" />
    {{end}}
    <!-- toplinks -->
    {{use "bootstrap"}}
  </head>

  <body>

{{include "menu.html"}}
{{include "inc_show_flashes.html"}}
{{block before_header}}{{end}}

{{block header}}
<div id="header-top">
    <div class="pull-left">
        <ul>
            {{block nav_project}}<li>{{=settings.LAYOUT.PROJECT}}</li>{{end}}
            {{block menu}}
                {{menu('home')}}
            {{end}}
        </ul>
    </div>
    
    {{block user_info}}
        <div class="pull-right">
        {{if hasattr(request, 'user') and request.user:}}
            <img src="{{=functions.get_user_image(request.user, size=20)}}" align="top" style="height:20px;width:20px;"/> {{=unicode(request.user)}} | <a href="/user/view">{{=_('Account Setting')}}</a> | <a href="/logout">{{=_('Logout')}}</a> 
        {{else:}}
            <a href="/login">{{=_('Login')}}</a>
        {{pass}}
        </div>
    {{end}}
</div>
{{end}}
    
{{block content}}
<div class="container">
    <div class="content-outter">
        {{block content_main}}
        {{end}}
    </div>    
</div>
{{end content}}

{{block footer_container}}
<!-- Footer -->
<div id="footer">
	<div class="shell">
		<!-- Footer Navigation -->
		<ul>
		    <li><a href="#">Home</a></li>
		    <li><a href="#">About us</a></li>
		    <li><a href="#">Services</a></li>
		    <li><a href="#">Solutions</a></li>
		    <li><a href="#">Blog</a></li>
		    <li><a href="#">Testimonials</a></li>
		    <li class="last"><a href="#">Contacts</a></li>
		</ul>
		<!-- /Footer Navigation -->
		
		<!-- Copyrights -->
		<p class="copy">{{<< settings.get_var('LAYOUT/COPYRIGHT')}}</p>
		<!-- /Copyrights -->
		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- /Footer -->
{{end}}

{{block after_footer}}{{end}}

</body>
</html>
